<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="%actionSet.label.0"
            visible="true"
            id="ml.cdslplugin.actionSet">
         <action
               class="ml.cdslplugin.actions.RunJobAction"
               icon="icons/job.gif"
               id="ml.cdslplugin.actions.RunJobAction"
               label="%action.label.1"
               toolbarPath="ML_ACTION_SET/BuscadorGroup"
               tooltip="%action.tooltip.1">
         </action>
         <action
               class="ml.cdslplugin.actions.ResinConsoleAction"
               icon="icons/resin.gif"
               id="ml.cdslplugin.actions.ResinConsoleAction"
               label="%action.label.2"
               toolbarPath="ML_ACTION_SET/BuscadorGroup"
               tooltip="%action.tooltip.2">
         </action>
         <action
               label="%action.label.0"
               icon="icons/sync.png"
               class="ml.cdslplugin.actions.RsyncResinAction"
               tooltip="%action.tooltip.0"
               toolbarPath="ML_ACTION_SET/BuscadorGroup"
               id="ml.cdslplugin.actions.RsyncResinAction">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%page.name.0"
            class="ml.cdslplugin.preferences.CDSLPreferencePage"
            id="ml.cdslplugin.preferences.CDSLPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="ml.cdslplugin.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="ml.cdslplugin"
            name="%category.name.0">
      </category>
      <view
            allowMultiple="false"
            category="ml.cdslplugin"
            class="ml.cdslplugin.views.RsyncResinView"
            icon="icons/sync.png"
            id="ml.cdslplugin.views.RsyncResinView"
            name="%view.name.0"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="ml.cdslplugin.views.RsyncResinView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
